.main {
  display: flex;
  gap: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(188, 187, 187);
}

.posterContainer {
  display: block;
  min-width: 350px;
  max-width: 350px;
}

.poster {
  width: 100%;
  object-fit: cover;
}

.title {
  font-size: 30px;
}

.subtitle {
  margin-top: 30px;
  font-size: 20px;
}

.primaryText {
  margin-top: 30px;
}

.additional {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(188, 187, 187);
}

.additionalList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
